doctype
html(lang="ja")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css")
        link(rel="stylesheet", href="./css/stylesheet.css")
        script(defer, src="https://code.getmdl.io/1.1.3/material.min.js")
        block title
            title agqr-recorder
    body
        div(class="mdl-layout mdl-js-layout")
            header(class="mdl-layout__header mdl-layout--fixed-drawer")
                div(class="mdl-layout__header-row")
                    span(class="mdl-layout-title")
                        |超!A&G
                    div(class="mdl-layout-spacer")
                    nav(class="mdl-navigation")
                        a(class="mdl-navigation__link" href="./")
                            |TOP
                        a(class="mdl-navigation__link" href="./config")
                            |CONFIG
            div(class="mdl-layout__drawer")
                    span(class="mdl-layout-title")
                        |超!A&G
                    nav(class="mdl-navigation")
                        a(class="mdl-navigation__link" href="./")
                            |TOP
                        a(class="mdl-navigation__link" href="./config")
                            |CONFIG
            main(class="mdl-layout__content")
                block content
