extends ./_layout.pug

block title
    title config

block content
    - const dayName = ['日', '月', '火', '水', '木', '金', '土', '日'];
    table(class="table-with-wrap mdl-data-table mdl-js-data-table mdl-shadow--2dp")
        thead
            tr
                th(class="mdl-data-table__cell--non-numeric")
                    |曜日
                th(class="mdl-data-table__cell--non-numeric")
                    |時刻
                th(class="mdl-data-table__cell--non-numeric")
                    |番組名
                th(class="mdl-data-table__cell--non-numeric")
                    |長さ
        tbody
            each item in programs
                tr
                    td(class="mdl-data-table__cell--non-numeric")
                        | #{dayName[item.dayNo]}
                    td(class="mdl-data-table__cell--non-numeric")
                        | #{item.time}
                    td(class="mdl-data-table__cell--non-numeric")
                        | #{item.title}
                    td(class="mdl-data-table__cell--non-numeric")
                        | #{item.length}                        
