body {
    background: #ECEFF1;
}

.my-title {
    color: #607D8B;
    text-align: center;
    margin-top: 8px;
}

.my-title > h3 {
    margin: 0;
}

.my-card.mdl-card {
    margin: auto;
    max-width: 320px;
    width: initial;
}

.my-card > .mdl-card__actions {
    display: flex;
    justify-content: space-around;
}

.mdl-card__media > img {
    max-width: 100%;
}

.my-player {
    margin: 0 auto;
    width: 320px;
}
